.coins-container{
    width:1000px; 
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.coins-container .selectBtn{ 
    width: 200px;
    padding: 3px;
}
.coins-container .coins-select{
    margin-bottom: 50px;  
}

.coins-container .coins-select.active{
    border:1px solid gray; 
    padding: 20px;  
}

.coins-container table{
    border-collapse: collapse;
    margin-bottom: 50px;
}

.coins-container td{
    border:1px solid gray; 
    padding: 5px  10px; 
}