.pagination-container,
.pagination{
    display: flex;
    gap:5px; 
}

.pagination-container{
    height: 30px;
    align-items: center;
    justify-content: center;
}


.pagination li{ 
    width: 20px; 
    height: 20px;
    border: 1px solid black ; 
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 0; 
}
.pagination li.active{
    background-color: black;
    color:white; 
}
