.dots{
    position: fixed;
    right:30px; 
    z-index: 999;
    font-size: 0;
    height: 100vh;
}

.dots ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

.dots ul li{
    margin:0;
}

.dots a{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: black;
    margin: 5px;
}

.dots a.active{ 
    background-color: red; 
}